.donut {
    background: url("/images/donut.jpg");
    background-position: center;
    background-size: cover;
    max-width: 80%;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 2rem;
    margin-top: 2rem;
}
.sponge {
    background: url("/images/sponge.jpg");
    background-position: center;
    background-size: cover;
    max-width: 80%;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 2rem;
    margin-top: 2rem;
}
.egg_cake {
    background: url("/images/egg_cake.jpg");
    background-position: center;
    background-size: cover;
    max-width: 80%;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 2rem;
    margin-top: 2rem;
}
.waffles {
    background: url("/images/waffles.jpg");
    background-position: center;
    background-size: cover;
    max-width: 80%;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 2rem;
    margin-top: 2rem;
}
.burger {
    background: url("/images/burger.jpg");
    background-position: center;
    background-size: cover;
    max-width: 80%;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 2rem;
    margin-top: 2rem;
}